@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Philosopher&family=Piedra&family=Monda&family=Sarpanch&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    text-align: center;
}

a {
    text-decoration: none;
}

.infoSection {
    padding: 2% 6% 1% 6%;
    background-image: url(bg_info.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.infoSection>h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 6.5vw;
    margin-bottom: 0px;
}

.infoSection>h2 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2.4vw;
}

.subInfoSection {
    height: 30vw;
    margin-bottom: 5vw;
    padding: 3vw 0 0 2vw;
}

.subInfoSection>img {
    float: left;
    width: 65%;
    height: 30vw;
}

.subInfoSection>div {
    float: right;
    height: 100%;
    width: 35%;
    padding: 0 0 0 2vw;

}

.subInfoSection>div>h1 {
    font-family: 'Piedra', cursive;
    font-size: 3.15vw;
    margin-bottom: 3%;
}

.subInfoSection>div>h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.4vw;
    margin-top: 0.4vw;
}

#subInfoSection2 {
    float: left;
    padding: 3vw 2vw 0 0;
}

#mapsSection {
    padding: 1% 8% 1% 8%;
    background: url(minimap1.jpg);
    background-size: 100% 100%;
}

#mapsSection>h1 {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    line-height: 120%;

    text-align: center;
    letter-spacing: 0.04em;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.17vw;
    -webkit-text-stroke-color: black;

}

.slideshow {
    position: relative;
    margin: auto;
}

.slidesText {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.5vw;
    padding: 0% 6% 1% 6%;

}

.slidesText>h1 {
    font-family: 'Monda', sans-serif;
    font-size: 3.5vw;
}

.slidesText>h2 {
    font-family: 'Monda', sans-serif;
    font-size: 1.73vw;
    text-align: left;
}

.slide {
    display: none;
    padding: 0% 10% 0% 10%;
}

.slide>img {
    width: 100%;
    border-radius: 0.5vw;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 5%;
    transition: 0.6s ease;
    margin: auto;
}

#next {
    right: 0;
}

#prev {
    left: 0;
}

#next>img,
#prev>img {
    height: 10vw;
}

#prev:hover,
#next:hover {
    opacity: 0.5;
}


.dot {
    cursor: pointer;
    height: 2vw;
    width: 4.2vw;
    margin: 0 1% 0 1%;
    background: transparent;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 0.3vw solid #000000;
    border-radius: 3vw;
}

.active,
.dot:hover {
    background-color: #464646;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

.selectSlide {
    margin: 2vw;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.toOtherPage {
    width: 65%;
    height: 8vw;
    margin: auto;
    padding: 2vw;
    background-image: url(button_bg.jpg);
    font-family: 'Sarpanch';
    font-size: 2.6vw;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    margin-top: 4vw;
}

/* Header and Footer */

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2vw 6vw;
    z-index: 10;
    background-color: #000000;
}

header.sticky {
    padding: 0.25vw 6vw;
    background: rgba(0, 0, 0, 0.705);
}

header .logo {
    position: relative;
    transition: 1s;
}

header .logo img {
    width: 3.5vw;
}

header .logo:hover {
    opacity: 60%;
}

header .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header .btn :hover {
    color: #616161;
    transition: 0.6s;
}

.split-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7vw;
    padding: 2vw;
    border-style: none;
    font-family: 'Sarpanch';
}

.dropdown>.dropdown-content {
    position: absolute;
    display: none;
    margin-top: 1.1vw;
    text-align: left;
}

.split-btn .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content>a {
    font-size: 1.3vw;
    display: block;
    background-color: #666666bc;
    color: rgb(255, 255, 255);
    padding: 1vw 2vw;
    text-decoration: none;
    position: relative;
    margin: 0 2vw;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.3vw;
}

.dropdown-content>a:hover {
    color: #000000;
}

.reg-btn>a {
    color: #fff;
    text-decoration: none;
    background-color: #7B2C31;
    padding: 1vw 2vw;
    font-size: 1.7vw;
    font-family: 'Sarpanch';
}

.reg-btn:hover {
    background-color: #501C1F;
}

/* <800px */
#hamburger_icon {
    font-size: 2.8vw;
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

#hamburger_icon:hover {
    color: rgb(118, 118, 118);
}

#hamburger_dropdown {
    text-align: left;
    padding: 1vw;
    position: absolute;
    top: 100%;
    right: 6%;
    display: none;
    background-color: #666666bc;
    width: 20vw;
    border-style: none;
    animation: menuGrow 300ms ease-in-out forwards;
    transform-origin: top center;
}

#hamburger_dropdown p {
    margin-bottom: 1vw;
}

#sub_hamburger {
    display: none;
    margin-left: 2vw;
    animation: menuGrow 300ms;
    transform-origin: top center;
    text-align: left;
}

.ham_btn {
    margin: 0%;
}

.ham_btn>a {
    text-decoration: none;
    color: white;
    font-size: 1.75vw;
    font-family: 'Sarpanch';
}

.ham_btn:hover {
    background-color: #3131315d;
    padding: 0 5% 0 5%;
}

@keyframes menuGrow {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

footer {
    height: 34vw;
    width: 100%;
    background-color: #00D6C2;

    font-family: 'Sarpanch', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5vw;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 1vw 0 2.5vw 0;
    bottom: 0;
}

footer>a {
    text-decoration: none;
}

footer>img {
    width: 20%;
    margin: 2vw 0 1vw 0;
}

.footerText {
    color: #000000;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.playButton {
    padding: 1.5vw 0 1.5vw 0;
    background-color: #B0313A;
    width: 28%;
    margin: auto;
    color: #ffffff;
    font-size: 2.5vw;
    transition: 0.6s;
}

.playButton:hover {
    background-color: #6f181e;
}

@media only screen and (max-width: 800px) {
    .split-btn {
        display: none;
    }

    .reg-btn {
        display: none;
    }

    .hamburger_menu {
        display: block;
    }

    .infoSection {
        padding: 2% 3% 1% 3%;
    }

    #mapsSection {
        padding: 1% 3% 1% 3%;
    }
}

@media only screen and (min-width: 800px) {
    .split-btn {
        display: block;
    }

    .reg-btn {
        display: block;
    }

    .hamburger_menu {
        display: none;
    }
}